body{
    background-color: gray;
}

.pet-card{
    display: inline-block;
    height: 400px;
}

.card-img-top{
    height: 200px;
    width: 100%;
     /* object-fit: cover; */
     /* height: 100%; */
     width: 100%; 
    object-position: 0 0;
}

.container{
    width: 100%;
}

.cat{
    color: blue;
    background-color: lightblue;
}

.dog{
    color: green;
    background-color: lightgreen;
}

.dino{
    color: black;
    background-color: orange;
}